const firebaseConfig = {
  apiKey: "AIzaSyBlqq2wfC8JJSBFUaGEb4HHRVihxwebVoQ",
  authDomain: "frisco-music.firebaseapp.com",
  projectId: "frisco-music",
  storageBucket: "frisco-music.appspot.com",
  messagingSenderId: "631670231850",
  appId: "1:631670231850:web:384f43fece8b48a5700453"
};

export default firebaseConfig;